<a href="https://colab.research.google.com/github/PrateekTiwari07/Automobile-Market-Volatility/blob/main/1_create_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Import Libraries

In [2]:
import yfinance
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

2 - Download Data

In [4]:
raw_data = yfinance.download(tickers="VOW3.DE, PAH3.DE, BMW.DE",
                            interval="1d",
                            group_by='ticker',
                            start="2009-01-29",
                            end="2022-06-01",
                            auto_adjust=True,
                            threads=True)

[*********************100%***********************]  3 of 3 completed

In [5]:
raw_data.head()

              PAH3.DE                                               BMW.DE  \
                 Open       High        Low      Close   Volume       Open
Date
2009-01-29  24.382756  24.450675  23.170671  23.473692   629474  10.345787
2009-01-30  23.259486  25.025366  23.196791  24.032713  1467863   9.998008
2009-02-02  23.650368  23.912546  22.776453  23.071400  1350452  10.028130
2009-02-03  23.164258  23.317194  22.426891  22.973087  1183009   9.666657
2009-02-04  22.022701  23.486513  21.662212  22.918467  1688343   9.967886

                                                       VOW3.DE             \
                 High       Low      Close   Volume       Open       High
Date
2009-01-29  10.455325  9.792624  10.022653  5951883  19.882188  20.125792
2009-01-30  10.354005  9.891209  10.192437  3368505  20.110238  20.784035
2009-02-02  10.121237  9.526998   9.644751  4149233  20.213900  20.213900
2009-02-03   9.943239  9.496875   9.926808  3953543  19.006251  19.120279
2009-02-04  10.838707  9.767980  10.608679  4844579  19.229122  19.695596


                  Low      Close  Volume
Date
2009-01-29  19.032167  20.125792  175749
2009-01-30  19.695594  20.084322  330777
2009-02-02  17.985189  18.783379  217917
2009-02-03  17.440970  18.617523  210250
2009-02-04  18.674535  19.094362  182653

In [6]:
raw_data.tail()

              PAH3.DE                                               BMW.DE  \
                 Open       High        Low      Close   Volume       Open
Date
2022-05-25  68.505867  68.505867  68.505867  68.505867        0  71.690231
2022-05-26  69.287818  69.917183  68.524943  69.917183   528086  72.980449
2022-05-27  69.917183  69.917183  69.917183  69.917183        0  73.957329
2022-05-30  69.917183  69.917183  69.917183  69.917183        0  73.957329
2022-05-31  70.565627  73.254749  69.898117  72.606308  1398660  74.943430

                                                         VOW3.DE              \
                 High        Low      Close   Volume        Open        High
Date
2022-05-25  71.690231  71.690231  71.690231        0  107.926727  107.926727
2022-05-26  74.123215  72.409063  73.957329  1068788  110.049050  112.393995
2022-05-27  73.957329  73.957329  73.957329        0  112.304939  112.304939
2022-05-30  73.957329  73.957329  73.957329        0  112.304939  112.304939
2022-05-31  75.238338  73.883604  74.307533  1807592  114.649888  115.673949


                   Low       Close   Volume
Date
2022-05-25  107.926727  107.926727        0
2022-05-26  108.386808  112.304939   884473
2022-05-27  112.304939  112.304939        0
2022-05-30  112.304939  112.304939        0
2022-05-31  113.254792  114.783455  1193371

3 - General Preprocessing

In [7]:
df = pd.DataFrame([])
df['POR'] = raw_data['PAH3.DE'].Close
df['VW'] = raw_data['VOW3.DE'].Close
df['BMW'] = raw_data['BMW.DE'].Close
df['Vol_POR'] = raw_data['PAH3.DE'].Volume
df['Vol_VW'] = raw_data['VOW3.DE'].Volume
df['Vol_BMW'] = raw_data['BMW.DE'].Volume
df.head()

                  POR         VW        BMW  Vol_POR  Vol_VW  Vol_BMW
Date
2009-01-29  23.473692  20.125792  10.022653   629474  175749  5951883
2009-01-30  24.032713  20.084322  10.192437  1467863  330777  3368505
2009-02-02  23.071400  18.783379   9.644751  1350452  217917  4149233
2009-02-03  22.973087  18.617523   9.926808  1183009  210250  3953543
2009-02-04  22.918467  19.094362  10.608679  1688343  182653  4844579

In [8]:
# Find out number of missing values for each Stock Exchanges
df.isna().sum()

POR        0
VW         0
BMW        0
Vol_POR    0
Vol_VW     0
Vol_BMW    0
dtype: int64

In [9]:
# Setting the frequency of the data
# h = hourly, w = Weekly, d = daily, m = monthly, b = business days
df=df.asfreq('b')

In [10]:
df.isna().sum()

POR        94
VW         94
BMW        94
Vol_POR    94
Vol_VW     94
Vol_BMW    94
dtype: int64

In [11]:
df=df.fillna(method='ffill') # Front-Filling any missing value
df = df.fillna(method='bfill') # Back-Filling any missing value
df.head()

                  POR         VW        BMW    Vol_POR    Vol_VW    Vol_BMW
Date
2009-01-29  23.473692  20.125792  10.022653   629474.0  175749.0  5951883.0
2009-01-30  24.032713  20.084322  10.192437  1467863.0  330777.0  3368505.0
2009-02-02  23.071400  18.783379   9.644751  1350452.0  217917.0  4149233.0
2009-02-03  22.973087  18.617523   9.926808  1183009.0  210250.0  3953543.0
2009-02-04  22.918467  19.094362  10.608679  1688343.0  182653.0  4844579.0

In [12]:
# Displaying the first and last 5 elements to make sure the data was scrapped correctly
print(df.head())
print(df.tail())

                  POR         VW        BMW    Vol_POR    Vol_VW    Vol_BMW
Date
2009-01-29  23.473692  20.125792  10.022653   629474.0  175749.0  5951883.0
2009-01-30  24.032713  20.084322  10.192437  1467863.0  330777.0  3368505.0
2009-02-02  23.071400  18.783379   9.644751  1350452.0  217917.0  4149233.0
2009-02-03  22.973087  18.617523   9.926808  1183009.0  210250.0  3953543.0
2009-02-04  22.918467  19.094362  10.608679  1688343.0  182653.0  4844579.0
                  POR          VW        BMW    Vol_POR     Vol_VW    Vol_BMW
Date
2022-05-25  68.505867  107.926727  71.690231        0.0        0.0        0.0
2022-05-26  69.917183  112.304939  73.957329   528086.0   884473.0  1068788.0
2022-05-27  69.917183  112.304939  73.957329        0.0        0.0        0.0
2022-05-30  69.917183  112.304939  73.957329        0.0        0.0        0.0
2022-05-31  72.606308  114.783455  74.307533  1398660.0  1193371.0  1807592.0

4 - Export Database

In [13]:
df.to_csv("automobile-indexes.csv")